*{
   margin: 0;
   padding: 0;
}

body{
   background: #01193d;
   color: #fff;
}

.container{
   width: 1100px;
   height: auto;
   margin: 0 auto;
   margin-top: 20px;
   text-align: center;
}

h1{
   margin: 15px;
   margin-top: 20px;
   font-size: 50px;
   font-weight: 900;
}

#start{
   margin: 20px;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 900;
   letter-spacing: 2px;
   border-radius: 5px;
   background-color: tomato;
   color: #fff;
   border: 1px solid #000;
}



h2{
   margin: 15px;
   margin-bottom: 50px;
   font-size: 35px;
   font-weight: 900;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 30px solid #5f6669;
  border-radius: 20px;
  margin: 30px auto;
  background: url('./img/wallpaper.jpg') no-repeat right center/cover ;

}

.square{
   width: 50px;
   height: 50px;
   margin-left: 2px solid #000;
   border-radius: 10px;
}

.snake{
   background-color: #263228;
}

.apple{
   background-color: #c62828;
   border-radius: 100px;

}

#score{
   font-size: 35px;
}